* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main {
    /* background-image: linear-gradient(to right bottom, #FBDB89, #F48982); */
    height: auto;
    width: auto;
}

.form-control {
    border-radius: 20px;
    height: 50px;
}

.btn {
    border-radius: 20px;
    /* padding-right: 20px; */
    width: 35vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.recipe-section {
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    background-color: #fff;
    height: 100%;
}

.recipe-section li {
    list-style: none;
    margin: 50px;
}